
:root{
    --green: #008000;
    --blue: #50bcdf;
    --brown: #964b00;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

body{
    padding: 10px;
}

*{
    box-sizing: border-box;
}

.title{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: var(--green);
    border: 5px solid var(--green);
    height: 50px;
    font-size: 1.5rem;
}

main{
    display: flex;
    flex-flow: row nowrap;
    height: calc(100% - 60px);
    margin-top: 10px;
}

.sidebar{
    display: flex;
    flex-flow: column nowrap;
    width: 120px;;
    flex-shrink: 0;
    border: 5px solid black;
    padding: 10px;
}

.sidebar > span{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    border: 5px solid blue;
    margin-left: 10px;
    align-content: flex-start;
    overflow-y: scroll;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    min-height: 150px;
    padding: 10px;
    background-color: var(--brown);
    margin: 10px;
    border-radius: 10px;
}

.card > img{
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.card > span{
    text-align: center;
    word-break: break-all;
}

@media (max-width: 1000px){
    .card{
        background: var(--blue);
    }
}

@media (max-width: 700px){
    .card{
        background: var(--green);
    }
}