
:root{
    --green: #008000;
    --blue: #50bcdf;
    --brown: #964b00;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

body{
    padding: 10px;
}

*{
    box-sizing: border-box;
}

.title{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: var(--green);
    border: 5px solid var(--green);
    height: 50px;
    font-size: 1.5rem;
}

main{
    display: flex;
    flex-flow: row nowrap;
    height: calc(100% - 60px);
    margin-top: 10px;
}

.sidebar{
    display: flex;
    flex-flow: column nowrap;
    width: 120px;;
    flex-shrink: 0;
    border: 5px solid black;
    padding: 10px;
}

.sidebar > span{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    border: 5px solid blue;
    margin-left: 10px;
    align-content: flex-start;
    overflow-y: scroll;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    min-height: 150px;
    padding: 10px;
    background-color: var(--brown);
    margin: 10px;
    border-radius: 10px;
}

.card > img{
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.card > span{
    text-align: center;
    word-break: break-all;
}

@media (max-width: 1000px){
    .card{
        background: var(--blue);
    }
}

@media (max-width: 700px){
    .card{
        background: var(--green);
    }
}

.add-card{
    padding: 7px 10px;
    margin-bottom: 10px;
    background: pink;
    color: var(--coral);
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.add-card:hover{
    background: indianred;
    color: black;
}

.submit-button{
    padding: 7px 10px;
    background: beige;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.submit-button:hover{
    background: mintcream;
}

.label{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
}

.input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    outline: none;
    border: 2px solid beige;
    border-radius: 6px;
}

.input:focus{
    border-color: mintcream;
}

.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
}

.modal{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    z-index: 11;
    padding: 20px;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    z-index: 12;
}

.modal-close:hover{
    transform: scale(1.2);
}